[Unit]
Description=Gunicorn instance to serve Flask application
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/srv/www/gimatric
Environment="PATH=/srv/www/gimatric/.venv/bin"
ExecStart=/srv/www/gimatric/.venv/bin/gunicorn --workers 3 --bind unix:gimatric.sock -m 007 gimatric:app


[Install]
WantedBy=multi-user.target
